@import '~bootstrap/scss/bootstrap';
@import 'swiper/swiper.scss';

$biz-css-prefix: '.web-material';

#{$biz-css-prefix}-placeholder {
  &::after {
    content: attr(placeholder);
    opacity: 0.62;
  }
}

.engine-live-editing {
  &::after {
    content: '';
  }
}
